*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body{
  height: 100%;
  width: 100%;
}
.card{
  border-radius: 10px;
  background: rgb(246, 200, 208);
  margin: 20px;
  padding: 20px;
}
.nav{
  margin: 10px;
  padding: 10px;
  background: #111;
  color: #fff;
}